<html>
<head>
    <title>Jobs you've been:</title>
</head>
<body>
    <h1>Here are the tamagotchis you created!</h1>
    <p>{{ newtama.getName }}</p>
      <ul>
        <li> {{ newtama.getFood }} </li>
      </ul>
    <p><a href='/'>View all the tmagotchis you've listed.</a></p>
</body>
</html>
