<html>
<head>
    <title>Jobs you've been:</title>
</head>
<body>
    <h1>Here are the jobs you've had!</h1>
    <p>{{ newjob.getTitle }}</p>
      <ul>
        <li> {{ newjob.getSalary }} </li>
        <li> {{ newjob.getDesc }} </li>
      </ul>
    <p><a href='/'>View all the jobs you've listed.</a></p>
</body>
</html>
